extends layout

block head
  title Check In
block content
  div.checkinlist
    table
      tr
        th Checked In
      each name in names
        tr
          td= name.name
  div.checkin
    if error
      h3.failed= error
    h1 Check In
    form(method='post')
      label(for='name') Name:
      input(type='text', name='name')
      button(action='submit') Check In
