doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    block head
  body
    ul
      if isLoggedIn
        li: a(href='/')= `Rankings (logged in as ${user})`
      else
        li: a(href='/') Rankings
      li: a(href='/log') Game Log
      li: a(href='/checkin') Check In
    block content
