doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    block head
  body
    div.navbar
      ul
        if user
          li: a(href='/')= 'Rankings (logged in as ' + user + ')'
        else
          li: a(href='/') Rankings
        li: a(href='/log') Game Log
        li: a(href='/checkin') Check In
        li: a(href='/tournament') Tournament
        if user
          li: a(href='/generator') Match Maker
          li: a(href='/dashboard') Dashboard
        else
          li: a(href='/login') Log In
        if user
          li.right: a(href='/login/signout') Sign out
    div.content
      block content
