extends layout
block head
  title Game Log
block content
  h1 Game Log
  table
    tr.head
      th Time
      th Matchup
      th Winner
    each entry in log
      tr
        td= entry.time
        td= entry.matchup
        td= entry.winner
