extends layout

block head
  script(src='/js/rankings.js')
  title Round Rock Rankings

block content
  if locals.error
    h1= error
  h1 Rankings
  table
    tr.head
      th Rank
      th Name
      th Rating
      th Change
    each player, rank in players
      tr.player
        td= rank + 1
        td= player.name
        td= player.elo
        if player.hasChange
          if player.change
            td: img(src='res/inc.png')
          else
            td: img(src='res/dec.png')
        else
          td: p.dash -
  if isLoggedIn
    button.add(onclick='addPlayer()') Add Player
    button.remove(onclick='removePlayer()') Remove Player
